<!doctype html>
<html lang="en">

<head>
  {% include '../include/_meta.twig' %}
  {% include '../include/_font-icon.twig' %}
  <!-- Plugins -->
  <!-- CSS plugins goes here -->
  {% include '../include/_main-css.twig' %}
  <title>{{ title }}</title>
</head>

<body>

  {% include '../include/_sidebar.twig' with {
    'menu': 'todo-list',
    'sub': ''
  } %}

  <!-- Main -->
  <div class="main">

    {% include '../include/_header.twig' %}

    <!-- Main body -->
    <div class="main-body p-0">

      {% include '../content/_todo-list.twig' %}

    </div>
    <!-- /Main body -->

  </div>
  <!-- /Main -->

  {% include '../include/_modal-search.twig' %}

  {% include '../include/_main-js.twig' %}

  <!-- Plugins -->
  <script src="{{ folder.plugins }}autosize/autosize.min.js"></script>
  <script>
    {% include '../content/_todo-list.js' %}
  </script>

</body>

</html>
