<h5>Bar Chart</h5>
      <p class="text-secondary font-size-sm">
        A bar chart provides a way of showing data values represented as vertical bars. It is sometimes used to show trend data, and the comparison of multiple data sets side by side.
      </p>

      <div class="row row-cols-1 row-cols-md-2 gutters-sm">

        <!-- VERTICAL -->
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              Vertical
              <button type="button" data-action="fullscreen" class="btn btn-sm btn-text-secondary btn-icon rounded-circle ml-auto">
                <i class="material-icons">fullscreen</i>
              </button>
            </div>
            <div class="card-body" style="height: 300px">
              <canvas id="bar-chart-vertical"></canvas>
            </div>
          </div>
        </div>
        <!-- /VERTICAL -->

        <!-- HORIZONTAL -->
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              Horizontal
              <button type="button" data-action="fullscreen" class="btn btn-sm btn-text-secondary btn-icon rounded-circle ml-auto">
                <i class="material-icons">fullscreen</i>
              </button>
            </div>
            <div class="card-body" style="height: 300px">
              <canvas id="bar-chart-horizontal"></canvas>
            </div>
          </div>
        </div>
        <!-- /HORIZONTAL -->

        <!-- MULTI AXIS -->
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              Multi Axis
              <button type="button" data-action="fullscreen" class="btn btn-sm btn-text-secondary btn-icon rounded-circle ml-auto">
                <i class="material-icons">fullscreen</i>
              </button>
            </div>
            <div class="card-body" style="height: 300px">
              <canvas id="bar-chart-multi"></canvas>
            </div>
          </div>
        </div>
        <!-- /MULTI AXIS -->

        <!-- STACKED -->
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              Stacked
              <button type="button" data-action="fullscreen" class="btn btn-sm btn-text-secondary btn-icon rounded-circle ml-auto">
                <i class="material-icons">fullscreen</i>
              </button>
            </div>
            <div class="card-body" style="height: 300px">
              <canvas id="bar-chart-stacked"></canvas>
            </div>
          </div>
        </div>
        <!-- /STACKED -->

      </div>
