<h5>Radar Chart</h5>
      <p class="text-secondary font-size-sm">
        A radar chart is a way of showing multiple data points and the variation between them.<br>
        They are often useful for comparing the points of two or more different data sets.
      </p>

      <div class="row row-cols-1 row-cols-md-2 gutters-sm">

        <!-- BASIC -->
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              Basic
              <button type="button" data-action="fullscreen" class="btn btn-sm btn-text-secondary btn-icon rounded-circle ml-auto">
                <i class="material-icons">fullscreen</i>
              </button>
            </div>
            <div class="card-body" style="height: 300px">
              <canvas id="radar-basic"></canvas>
            </div>
          </div>
        </div>
        <!-- /BASIC -->

        <!-- SMOOTH -->
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              Smooth
              <button type="button" data-action="fullscreen" class="btn btn-sm btn-text-secondary btn-icon rounded-circle ml-auto">
                <i class="material-icons">fullscreen</i>
              </button>
            </div>
            <div class="card-body" style="height: 300px">
              <canvas id="radar-chart-smooth"></canvas>
            </div>
          </div>
        </div>
        <!-- /SMOOTH -->

        <!-- MULTI AXIS -->
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              Multi Axis
              <button type="button" data-action="fullscreen" class="btn btn-sm btn-text-secondary btn-icon rounded-circle ml-auto">
                <i class="material-icons">fullscreen</i>
              </button>
            </div>
            <div class="card-body" style="height: 300px">
              <canvas id="radar-chart-multi"></canvas>
            </div>
          </div>
        </div>
        <!-- /MULTI AXIS -->

        <!-- FILLED -->
        <div class="col mb-3">
          <div class="card">
            <div class="card-header">
              Filled
              <button type="button" data-action="fullscreen" class="btn btn-sm btn-text-secondary btn-icon rounded-circle ml-auto">
                <i class="material-icons">fullscreen</i>
              </button>
            </div>
            <div class="card-body" style="height: 300px">
              <canvas id="radar-chart-filled"></canvas>
            </div>
          </div>
        </div>
        <!-- /FILLED -->

      </div>
