<div class="card">
        <div class="card-body">
          <table class="table">
            <tbody>
              <tr>
                <td>Basic</td>
                <td>
                  <div class="list-with-gap">
                    <button type="button" class="btn btn-light has-icon" id="notyDefault"><i class="material-icons mr-1">notifications_none</i>Default</button>
                    <button type="button" class="btn btn-success has-icon" id="notySuccess"><i data-feather="check-circle" class="mr-1"></i>Success</button>
                    <button type="button" class="btn btn-info has-icon" id="notyInfo"><i data-feather="info" class="mr-1"></i>Info</button>
                    <button type="button" class="btn btn-warning has-icon" id="notyWarning"><i data-feather="alert-triangle" class="mr-1"></i>Warning</button>
                    <button type="button" class="btn btn-danger has-icon" id="notyError"><i class="material-icons mr-1">highlight_off</i>Error</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Positions</td>
                <td>
                  <div class="list-with-gap">
                    <button type="button" class="btn btn-light" id="notyTop">top</button>
                    <button type="button" class="btn btn-light" id="notyTopLeft">topLeft</button>
                    <button type="button" class="btn btn-light" id="notyTopCenter">topCenter</button>
                    <button type="button" class="btn btn-light" id="notyTopRight">topRight</button>
                    <button type="button" class="btn btn-light" id="notyCenter">center</button>
                    <button type="button" class="btn btn-light" id="notyCenterLeft">centerLeft</button>
                    <button type="button" class="btn btn-light" id="notyCenterRight">centerRight</button>
                    <button type="button" class="btn btn-light" id="notyBottom">bottom</button>
                    <button type="button" class="btn btn-light" id="notyBottomLeft">bottomLeft</button>
                    <button type="button" class="btn btn-light" id="notyBottomCenter">bottomCenter</button>
                    <button type="button" class="btn btn-light" id="notyBottomRight">bottomRight</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="nostretch">Custom content</td>
                <td>
                  <div class="list-with-gap">
                    <button type="button" class="btn btn-success has-icon" id="notyIcon"><i data-feather="check-circle" class="mr-1">check_circle_outline</i> with Icon</button>
                    <button type="button" class="btn btn-light has-icon" id="notyMedia"><i data-feather="user" class="mr-1"></i> with Media</button>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Miscellaneous</td>
                <td>
                  <div class="list-with-gap">
                    <button type="button" class="btn btn-danger" id="notyConfirm">Confirm</button>
                    <button type="button" class="btn btn-dark" id="notySticky">Sticky</button>
                    <button type="button" class="btn btn-secondary" id="notyCloseButton">Close Button</button>
                    <button type="button" class="btn btn-light" id="notyNoProgressBar">No progressBar</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <h5>Toasts</h5>
          <p class="text-muted font-size-sm">Push notifications to your visitors with a toast, a lightweight and easily customizable alert message.</p>
          <div class="form-group">
            <label>Basic</label>
            <div class="list-with-gap d-flex">
              <button class="btn btn-outline-secondary" id="toastDefault" type="button">Default</button>
              <button class="btn btn-outline-success" id="toastSuccess" type="button">Success</button>
              <button class="btn btn-outline-warning" id="toastWarning" type="button">Warning</button>
              <button class="btn btn-outline-danger" id="toastError" type="button">Error</button>
            </div>
          </div>
          <div class="form-group">
            <label>Positions</label>
            <div class="list-with-gap d-flex">
              <button class="btn btn-light has-icon" id="toastTopLeft" type="button"><i class="material-icons">keyboard_arrow_left</i>Top Left</button>
              <button class="btn btn-light has-icon" id="toastBottomRight" type="button">Bottom Right<i class="material-icons">keyboard_arrow_right</i></button>
              <button class="btn btn-light has-icon" id="toastBottomLeft" type="button"><i class="material-icons">keyboard_arrow_left</i>Bottom Left</button>
              <button class="btn btn-light has-icon" id="toastSticky" type="button"><i class="material-icons">local_offer</i>Sticky</button>
            </div>
          </div>
          <div class="form-group">
            <label>Miscellaneous</label>
            <div class="list-with-gap d-flex">
              <button class="btn btn-light" id="toastNoAnimation" type="button">No animation</button>
              <button class="btn btn-light" id="toastDelay1" type="button">Delay 1 second</button>
              <button class="btn btn-light" id="toastDelay2" type="button">Delay 2 seconds (default)</button>
              <button class="btn btn-light" id="toastDelay3" type="button">Delay 3 seconds</button>
            </div>
          </div>
        </div>
      </div>
