<a href="index.html" class="logo">
        <img src="{{ folder.img }}logo-white.svg" alt="Logo" id="main-logo">
        {{ title }}
      </a>
      <a href="#" class="nav-link nav-icon rounded-circle ml-auto" data-toggle="sidebar">
        <i class="material-icons">close</i>
      </a>