{% extends 'starter.jinja2' %}



{% block breadcrumb %}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create offer</li>
  </ol>
</nav>
<!-- /Breadcrumb -->
{% endblock breadcrumb %}

{% block content %}
<h3>Form to add offer</h3>
<p>Add a delivery point at map before by mouses click</p>
<div class="row">
<div class="col-sm-7">
  <div id='map' style='position: absolute; top: 10; bottom: 0; width: 90%; height: 30%;'></div>
  <style>
.coordinates {
    background: #2b5799;
    color: #fff;
    position: relative;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    width: fit-content;
}
  </style>
  <pre id="coordinates" class="coordinates"></pre>
</div>

<div class="card  col-sm-4">
  <div class="card-body" id="form">
    <div class="form-group">
      <p><span class="text-danger">{{message}}</span></p>
      {{ form.render()|safe }}
    </div>
  </div>
</div>
</div>
<script>
let latInput = document.getElementById("deformField2")
let lngInput = document.getElementById("deformField3")

let longitude;
let latitude;

mapboxgl.accessToken = 'pk.eyJ1Ijoia2l2YXNjaGVua28iLCJhIjoiY2s5MDVoM3lhMG9wajNkbDZ4MXcxamloeSJ9.VyJqearkDcrWR_2t9En7Og';
        var coordinates = document.getElementById('coordinates');
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [31.02, 49.55],
        zoom: 4
    });

    // Add zoom and rotation controls to the map
    map.addControl(new mapboxgl.NavigationControl());

    // assigne empty marker
    let marker;
    // Set up an event listener on the map.
    map.on('click', function(e) {
        // The event object (e) contains information like the
        // coordinates of the point on the map that was clicked.
        console.log('A click event has occurred at ' + e.lngLat);
        longitude = e.lngLat.toArray()[0]
        latitude = e.lngLat.toArray()[1]
        latInput.value = latitude;
        lngInput.value = longitude;
        if (marker){
            marker.remove();
            coordinates.innerHTML = "Longitude: no data <br />Latitude: no data";
        }
        // Add marker by certain coordinates
        marker = new mapboxgl.Marker({
            draggable: true
        })
        .setLngLat(e.lngLat.toArray())
        .addTo(map);
        coordinates.style.display = 'block';
        coordinates.innerHTML =
        'Longitude: ' + e.lngLat.lng + '<br />Latitude: ' + e.lngLat.lat;

        function onDragEnd() {
        var lngLat = marker.getLngLat();
        coordinates.style.display = 'block';
        coordinates.innerHTML =
        'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
        latInput.value = latitude;
        lngInput.value = longitude;
    }
    marker.on('dragend', onDragEnd);
  });
</script>
{% endblock %}
