{% extends 'starter.jinja2' %}
{% block breadcrumb %}
<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Offers table</li>
  </ol>
</nav>
<!-- /Breadcrumb -->
{% endblock breadcrumb %}

{% block content %}
<h5 class="mt-5">Offers Table</h5>
<div class="card">
  <div class="card-body">
    <table id="example" class="table table-striped table-bordered table-sm dt-responsive nowrap w-100">
      <!-- Filter columns -->
      <thead class="thead-primary">
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Type</th>
          <th>Goods</th>
          <th>Amount, t</th>
          <th>Price, $</th>
          <th>Country</th>
          <th>Due date</th>
          <th>User</th>
        </tr>
      </thead>
    {% if offers %}
      <tbody>
      {% for offer in offers %}
        <tr>
          <td>{{offer[0]}}</td>
          <td>{{offer[1]}}</td>
          <td>{{offer[2]}}</td>
          <td>{{offer[3]}}</td>
          <td>{{offer[4]}}</td>
          <td>{{offer[5]}}</td>
          <td>{{offer[6]}}</td>
          <td>{{offer[7]}}</td>
          <td>{{offer[8]}}</td>
        </tr>
        {% endfor %}
        </tbody>
    {% else %}
    <tr>No offers</tr>
    {% endif %}
    </table><!-- /.table -->
  </div>
</div>

{% endblock %}
