<!-- Main header -->
    <div class="main-header">
      <a class="nav-link nav-link-faded rounded-circle nav-icon" href="#" data-toggle="sidebar"><i class="material-icons">menu</i></a>
      {% include '../content/_header-nav.twig' %}
    </div>
    <!-- /Main header -->
