<!-- Main header -->
    <div class="main-header">
      <a href="index.html" class="logo d-none d-lg-flex">
        <img src="{{ folder.img }}logo.svg" alt="Logo" id="main-logo">
        {{ title }}
      </a>
      <a class="nav-link nav-link-faded rounded-circle nav-icon d-lg-none" href="#" data-toggle="sidebar"><i class="material-icons">menu</i></a>
      {% include '../content/_header-nav.twig' %}
    </div>
    <!-- /Main header -->
