<!doctype html>
<html lang="en">

<head>
  {% include '../include/_meta.twig' %}
  {% include '../include/_font-icon.twig' %}
  <!-- Plugins -->
  <!-- CSS plugins goes here -->
  {% include '../include/_main-css.twig' %}
  <title>{{ title }}</title>
</head>

<body class="sticky-navbar">

  {% include '../include/_sidebar.twig' with {
    'menu': 'charts',
    'sub': 'sparkline'
  } %}

  <!-- Main -->
  <div class="main">

    {% include '_header.twig' %}

    {% include '_navbar.twig' with {
      'menu': 'charts',
      'sub': 'sparkline'
    } %}

    <!-- Main body -->
    <div class="main-body">

      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">Charts</a></li>
          <li class="breadcrumb-item active" aria-current="page">Sparkline</li>
        </ol>
      </nav>
      <!-- /Breadcrumb -->

      {% include '../content/_sparkline.twig' %}

    </div>
    <!-- /Main body -->

  </div>
  <!-- /Main -->

  {% include '../include/_modal-search.twig' %}

  {% include '../include/_main-js.twig' %}

  <!-- Plugins -->
  <script src="{{ folder.plugins }}jquery-sparkline/jquery.sparkline.min.js"></script>
  <script>
    $(() => {
      {% include '../content/_sparkline.js' %}
    })
  </script>

</body>

</html>